<%= form_for purchase, html: { multipart: true } do |f| %>
  <div class="card">
    <div class="card-header">
      <h4 class="my-0">Upload the Purchase File</h4>
    </div>
    <div class="card-body">
      <%= f.label :data_file, 'Choose a file to upload', class: 'sr-only' %>
      <%= f.filepicker_field :data_file %>
    </div>
    <div class="card-footer">
      <%= f.button 'Upload', class: 'btn btn-primary px-5' %>
    </div>
  </div>
<% end %>
